<?xml version="1.0" encoding="UTF-8" standalone="yes"?><Config><UIConfig><HideVersion>false</HideVersion><SkipLaunch>true</SkipLaunch><SkipAccLaunch>true</SkipAccLaunch><HidePIIScreen>false</HidePIIScreen><ShowInstallOptions>true</ShowInstallOptions><StartSerializationOnComplete>false</StartSerializationOnComplete><SerializationWorkflowID>false</SerializationWorkflowID><CarouselType></CarouselType><HideProductLaunch>true</HideProductLaunch><LaunchProductDetail><ProductInfo></ProductInfo></LaunchProductDetail></UIConfig></Config>